:root{
    
}

*{
    box-sizing: border-box;
}

.wrapper{
    /* margin: 0px; */
    background-color: #fa0;
    width: 100%;
}
.bg-primary{
    background-color: #faa !important;
}

@keyframes scale_1to13 {
    from {
        scale: 1.1;
    }

    to {
        scale: 1.3;
    }
}

.scaleup {
    animation: scale_1to13 10s linear;
    animation-fill-mode: forwards;
}
/* ============================================================================= */
/* navbar按鈕 */
nav.navbar a.btn{
    background-color: #fff;
}
/* navbar按鈕active */
.mynav-active{
    background-color: #000;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0;
    z-index: 1;
}



/* 設定banner 在各個裝置上的圖片高度*/
main .carousel .carousel-item{
    height: 100vh;
}
@media(max-width:991px){
    main .carousel .carousel-item{
        height: 100%;
    }
}

