/* 引入bootstrap.css */
@import url(./custom.css);

:root {
    --primary: #31514c;
    --secondary: #FFC4C4;
}

/* 引入 justfont粉圓字體 */
@font-face {
    font-family: Saltmet;

    src: local(jf-openhuninn),
        url(./jf-openhuninn-1.1/jf-openhuninn-1.1.ttf);
}

@keyframes rotation {
    from {
        transform: rotate(350deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes scale_1to13 {
    from {
        scale: 1.1;
    }

    to {
        scale: 1.3;
    }
}

.scaleup {
    animation: scale_1to13 10s linear;
    animation-fill-mode: forwards;
}

.rotate-infinite {
    animation: rotation 10s infinite linear;
}

.wrapper {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

img,
*::before img,
*::after img {
    width: 100%;
    height: auto;
}

* {
    font-family: 'Saltmet','Noto Sans TC', sans-serif;
    line-height: 1rem;
    font-weight: normal;
}


/* .collapse.navbar-collapse{
    background-color: #faa;
    overflow:scroll !important;
} */

/* ========================================================================== */
/* ================================GRID====================================== */
/* ========================================================================== */
.main {
    /* height: 500px; */
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "B1 B1 B1 B1"
        "B2 B2 B2 B2"
        "B2 B2 B2 B2"
        "B2 B2 B2 B2";
}

.banner {
    grid-area: B1;
    /* background-color: #333; */
}

.aboutme {
    grid-area: B2;
    /* background-color: #999; */
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */


.wrapper {
    position: relative;
}

.mynav {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.main .banner img {
    max-height: 979px;
    object-fit: cover;
    object-position: 10% 50%;
}

/* 在電腦的時候設定為100vh,1400px以下不設定,因為手機有可能會有隱藏網址列造成100vh怪怪的 */
@media(min-width:1400px) {
    .main .banner img {
        max-height: 100vh;
        object-fit: cover;
        object-position: 10% 50%;
    }
}

.aboutme img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}


.navbar.navbar-expand-md {
    transition: all .5s linear;
}

.navbar-scrolled {
    background-color: #33333366;
}


/* swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
/* no use ^^^^^^^^^ */



.navbar_offcanvas_btn{
    width: 3rem;
    height:3rem;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    border: unset;
    position: relative;
    padding: 0px;
}

.offcanvas_btn_icon{
    width: 100%;
    height: 2px;
    background-color:var(--bs-warning);
    transition: all .2s linear;
}
.offcanvas_btn_icon::before,.offcanvas_btn_icon::after{
    content:"";
    width: 80%;
    height: 2px;
    position: absolute;
}
.offcanvas_btn_icon::after{
    content:"";
    background-color: #fff;
    top:10px;
    right: 0px;
    /* right: 0px; */
} 
.offcanvas_btn_icon::before{
    content:"";
    background-color: #fff;
    bottom:10px;
    right: 0px;
} 
.navbar_offcanvas_btn:hover span{
    width: 80%;
}

.offcanvas_icon_hover{
    top:50%;
    transform:rotate(45deg);
}